# Node modules
**/node_modules

# Build output
/build

# Dependency directories
/.pnp
.pnp.js

# dotenv environment variables file
.env

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
logs/